*{
    /*Basic Reset*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo{
    width: 20%;
}

main{
    background-color: #D6E0E2;
}

h1{
    color: #7A7A7A;
}

.carrusel{

}

.consulta-orden{
    background-color: #BBC1C3;
    text-align: center;
}

footer{
    text-align: center;
}