/*BASIC RESET*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo{
    width: 20%;
}

/*MAIN STYLES*/
main{
    background-color: #D6E0E2;
}

h1{
    color: #7A7A7A;
}

.carrusel{

}

.consulta-orden{
    background-color: #BBC1C3;
    text-align: center;
}

/*FOOTER STYLES*/

footer{
    text-align: center;
}

.fa-email{
    color: grey;
}

.fa-whatsapp{
    color: green;
}

.fa-facebook{
    color: blue;
}

.fa-instagram{
    color: orangered;
}